* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #31304d;
  color: blue;
  font-family: "Caveat", cursive;
  color: lavender;
  font-family: "poppins   ", serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #18172a;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0  23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: lavender;
  font-size: 1.02rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.left {
  font-size: 1.5rem;
}

.firstsection {
  display: flex;
  justify-content: space-around;

  margin: 50px 0;
}

.firstsection > div {
  width: 30%;
}

.leftsection {
  font-size: 3rem;
  margin: 50px;
}
 
.leftsection .buttons{
  padding: 30px 10px 0 0;
}

.leftsection .btn{
  background-color:#45446c;
  color:#e1e0d6;
  font-size: 15px;
  padding: 10px;
  /* border:rgb(107, 107, 208); */
  border-radius: 20px;
  border-style: dashed;
  border: 2px solid rgb(107, 107, 208);
  cursor: pointer;
}

.rightsection img {
  width: 100%;
}

.purple {
  color: blueviolet;
}

.text-gray {
  color: gray;
}

#element {
  font-size: 30px;
  color: rgb(245, 195, 70);
}

.secondsection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.secondsection h1 {
  font-size: 1.5rem;
}

.secondsection .box{
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondsection .vertical{
     height: 70px;
     width: 1px;
     background-color: white;
     margin:0 120px;
}

.image-top{
    width: 23px;
    position: relative;
    top: -25px;
    left: -10px;
}

.image-last{
    width: 100px;
    position: relative;
    top: -90px;
    left: -10px;
}    

.vertical-title{
    position: relative;
    top: 49px;
    width: 150px;

}
.vertical-title-last {
    position: relative;
    top: -25px;
    width: 150px;
}

.vertical-desc{
   position: relative; 
   top: 58px;
   color: grey;
   width: 140px;
   font-size: 10px;
}

.vertical-desc-last{
    position: relative; 
    top: -15px;
    color: grey;
    width: 140px;
    font-size: 10px;
 }

 footer{
  background-color:#343951;
 
 }
 
 .footer{
 display: flex;
 padding: 23px 122px;
 justify-content:space-evenly;
 }

 .footer ul{
  list-style:none;
 }

 .footer > div{
  width: 150px;
 }

 .footer-rights{
  text-align: center;
  color:rgb(204, 204, 204);
  margin-top: 2px;
 }